In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('customer_shopping_behavior.csv')
df.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [10]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [28]:
df[(df['Age'] > 67) & (df['Size'] == "L")]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
40,41,69,Male,Handbag,Accessories,76,Louisiana,L,Beige,Winter,4.6,Yes,Next Day Air,Yes,Yes,31,Debit Card,Quarterly
108,109,70,Male,Socks,Clothing,79,Montana,L,Purple,Spring,3.4,Yes,Next Day Air,Yes,Yes,32,Bank Transfer,Bi-Weekly
211,212,69,Male,Skirt,Clothing,92,South Dakota,L,Maroon,Fall,4.2,Yes,2-Day Shipping,Yes,Yes,45,Debit Card,Fortnightly
311,312,69,Male,Jeans,Clothing,52,Rhode Island,L,Silver,Winter,4.1,Yes,Store Pickup,Yes,Yes,19,Bank Transfer,Monthly
484,485,68,Male,Hat,Accessories,73,Missouri,L,Lavender,Summer,4.7,Yes,Free Shipping,Yes,Yes,28,Bank Transfer,Quarterly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3524,3525,69,Female,Pants,Clothing,74,Michigan,L,Silver,Summer,2.9,No,Free Shipping,No,No,30,Credit Card,Monthly
3558,3559,68,Female,Backpack,Accessories,94,Alaska,L,Magenta,Summer,4.8,No,Standard,No,No,9,Venmo,Quarterly
3626,3627,69,Female,Blouse,Clothing,98,Mississippi,L,Teal,Fall,3.5,No,Express,No,No,32,Venmo,Quarterly
3704,3705,68,Female,Sunglasses,Accessories,61,Missouri,L,Black,Winter,4.0,No,Store Pickup,No,No,36,Credit Card,Quarterly
3841,3842,68,Female,Jeans,Clothing,57,Mississippi,L,Pink,Fall,4.2,No,2-Day Shipping,No,No,8,Bank Transfer,Monthly

In [41]:
             
df.query("Age > 69 and Size == 'XL'")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
685,686,70,Male,Blouse,Clothing,71,Massachusetts,XL,Magenta,Winter,3.5,Yes,Standard,Yes,Yes,32,Cash,Fortnightly
958,959,70,Male,Sneakers,Footwear,53,Washington,XL,Beige,Winter,4.4,Yes,Free Shipping,Yes,Yes,31,Credit Card,Bi-Weekly
1723,1724,70,Male,Scarf,Accessories,20,New York,XL,Gold,Spring,3.3,No,Standard,No,No,39,PayPal,Annually
2068,2069,70,Male,Jewelry,Accessories,81,Vermont,XL,Black,Summer,3.9,No,Store Pickup,No,No,44,Venmo,Monthly
3818,3819,70,Female,Sneakers,Footwear,41,Oregon,XL,Indigo,Winter,3.8,No,Free Shipping,No,No,42,Cash,Monthly
3874,3875,70,Female,Sweater,Clothing,54,Nevada,XL,Beige,Summer,3.9,No,2-Day Shipping,No,No,33,Credit Card,Bi-Weekly

In [45]:
df.sort_values('Age').head(3)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
2224,2225,18,Male,Gloves,Accessories,25,Nebraska,L,Charcoal,Winter,4.3,No,Standard,No,No,38,Cash,Quarterly
2241,2242,18,Male,Jacket,Outerwear,77,Maryland,M,Purple,Summer,3.5,No,Free Shipping,No,No,3,Bank Transfer,Bi-Weekly
1612,1613,18,Male,Skirt,Clothing,68,Wisconsin,M,Indigo,Summer,4.4,No,Standard,Yes,Yes,26,Venmo,Monthly

In [50]:
df.sort_values(['Review Rating', 'Age'], ascending=[True, True]).head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
1449,1450,18,Male,Socks,Clothing,41,New York,L,Lavender,Winter,2.5,No,Store Pickup,Yes,Yes,20,Cash,Every 3 Months
1219,1220,19,Male,Sweater,Clothing,23,Vermont,M,Gold,Winter,2.5,No,Next Day Air,Yes,Yes,35,Credit Card,Bi-Weekly
1358,1359,19,Male,Scarf,Accessories,22,Nebraska,XL,Pink,Spring,2.5,No,Store Pickup,Yes,Yes,25,Venmo,Every 3 Months
2522,2523,20,Male,Belt,Accessories,53,Massachusetts,S,Olive,Winter,2.5,No,2-Day Shipping,No,No,20,Debit Card,Weekly
251,252,21,Male,Handbag,Accessories,51,Wyoming,XL,Gold,Winter,2.5,Yes,Standard,Yes,Yes,34,PayPal,Annually

In [67]:
df.groupby('Category')[['Review Rating']].mean()

             Review Rating
Category
Accessories       3.769976
Clothing          3.721537
Footwear          3.793771
Outerwear         3.745652

In [69]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [70]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [71]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [72]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount_(usd),location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [74]:
df = df.rename(columns={"purchase_amount_(usd)":"purchase_amount"})
df.head(5)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [78]:
# partion age into age groups
labels = ['Young Adult', 'Adult', 'Middle -aged', 'Senior']
df['age_group'] = pd.qcut(df['age'],q=4, labels = labels)
df[['age', 'age_group']].head(10)

   age     age_group
0   55  Middle -aged
1   19   Young Adult
2   50  Middle -aged
3   21   Young Adult
4   45  Middle -aged
5   46  Middle -aged
6   63        Senior
7   27   Young Adult
8   26   Young Adult
9   57  Middle -aged

In [79]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [82]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [85]:
# df[['discount_applied','promo_code_used']].head(10)
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [86]:
from sqlalchemy import create_engine

In [90]:
username = "postgres"      # default user
password = "pass123" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customer_behavior"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

In [91]:
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

900